
@{
    ViewBag.Title = "Home Page";
}


<div class="row" id="indexbody">
    <div class="row">
    </div>
    <form>
        <input class="btn" style="background-color:none ;color:white;" type="button" id="btnCreateLog" value="Tạo Log" />
    </form>
</div>
<style>
    #indexbody {
        height: 682px;
        width: 1024px;
        background-image: url('../../img/14071785659_48fad6dc1c_h.jpg');
    }
    #btnCreateLog:hover{
        background-color:aquamarine;
    }
</style>